$body_color: hsla(0, 0%, 98%, 1)

$header_color1: hsla(0, 40%, 92%, 1)
$header_color2: hsla(210, 17%, 98%, 1)
$header_color3: hsla(166, 85%, 47%, 1)


$header_txt_menu1: hsla(0, 24%, 4%, 1)
$header_txt_menu2: hsla(300, 85%, 47%, 1)
$header_txt_menu3: hsla(122, 85%, 47%, 1)

$header_txt_menu_hover1: hsla(67, 94%, 50%, 1)
$header_txt_menu_hover2: hsla(166, 94%, 50%, 1)
$header_txt_menu_hover3: hsla(293, 94%, 50%, 1)

$home_linear_gradient1: hsla(67, 94%, 50%, 1)
$home_linear_gradient2: hsla(166, 94%, 50%, 1)
$home_linear_gradient3: hsla(293, 94%, 50%, 1)
$home_linear_gradient4: hsla(0, 24%, 4%, 1)

$bg-color1: hsla(348, 94%, 50%, 1)
$bg-color2: hsla(235, 94%, 50%, 1)
$bg-color3: hsla(284, 94%, 50%, 1)
