
//файл переменных
@import "_var.sass"

//Fonts
@font-face
  font-family: TrainOneR
  src: url('../font/TrainOneR.ttf')
@font-face
  font-family: Arimo
  src: url('../font/Arimo-VariableFont_wght.ttf')
@font-face
  font-family: Lemonada
  src: url('../font/Lemonada-VariableFont_wght.ttf')

@font-face
  font-family: Inter
  src: url(../font/Inter/Inter-VariableFont_slnt,wght.ttf)

@font-face
  font-family: jura
  src: url(../font/Jura/Jura-VariableFont_wght.ttf)




// import модулей bootstrap
@import  "../../gulp/node_modules/bootstrap/scss/bootstrap-reboot"
@import  "../../gulp/node_modules/bootstrap/scss/bootstrap-grid"
@import  "../../gulp/node_modules/bootstrap/scss/grid"
@import  "../../gulp/node_modules/bootstrap/scss/bootstrap"
@import  "../../gulp/node_modules/bootstrap/scss/_variables"



@import "_body.sass"
@import "header/_header.sass"
@import "home/_home.sass"
@import "skills/_skills.sass"
@import "timemenedg/_timemenedg.sass"

//import media request
@import "_media.sass"
