.container
  .row
    .col-12.col-sm-6.px-0.left_column
      h1
        | We are
        br
        | Creative
        br
        | Design
        br
        | Studio
      h5
        | Web Design & Development
    .col-12.col-sm-6.px-0.right_column
      div.fotograf
      div.ilustaration
        .row.one.mx-0
          div.flex-grow-1
          div.flex-grow-1
        .row.mx-0
          div.flex-grow-1
          div.flex-grow-1
