.container
	.row.mx-0.justify-content-end.my-2
		ul.nav.nav-tabs
			li.nav-item
				a.nav-link.active(href='#') Home
			li.nav-item
				a.nav-link.text-warning(href='#') Portfolio
			li.nav-item
				a.nav-link.text-warning(href='#') Contant
			li.nav-item
				a.nav-link.text-warning(href='#' tabindex='-1' aria-disabled='true') Disabled
