.container
  .row.mx-0.justify-content-around
    .address_office.col-12.col-sm-4
      .address_office_svg
        span Headline
        p
          | Sample footer text

    .number_phono.col-12.col-sm-4
      .number_phono_svg
        span Headline
        p
          | Sample footer text

    .email.col-12.col-sm-4
      .email_svg
        span Headline
        p
          | Sample footer text
