.container
	section.row.mx-0.my-2.align-items-center.flex-column
		h6.display-6
			| Наши качества
		h5.display-5
			| Креативное мышление и современные технологии
		.row.mx-0.justify-content-around.px-5
			.card
				.card-body
					include _svglight
				h5.display-5
					| Креативность
				p.lead.col-12.col-sm-10.px-0
					| Творческие способности — способности человека принимать творческие решения, понимать, принимать и создавать принципиально новые идеи




			.card
				.card-body
					include _svgdiamond
				h5.display-5
					| Технологии
				p.lead.col-12.col-sm-10.px-0
					| Отлично зарекомендовавшие себя frameworks, удобные и надежные CMS и базы данных.


			.card
				.card-body
					include _humans
				h5.display-5
					| Команда
				p.lead.col-12.col-sm-10.px-0
					| Прекрасно сработавшаяся и сплоченная команда профессионалов.
