svg( width="500" height="500" viewbox="0, 0, 500, 500")

	rect( x="200" y="150" width="100" height="100" fill="rgba(244,47,39, 1)"  	stroke="hsl(132, 93%, 48%, 1)" stroke-width="2")

	rect( x="0" y="150" width="100" height="100" fill="hsla(238, 93%, 48%, 1)"  	stroke="hsl	(132, 93%, 48%, 1)" stroke-width="2")
