- var path_css        = "css/";
- var path_css_src    = "src/css/";
- var path_css_page   = "../../css/";
- var path_js         = "js/";
- var path_dev_js     = "./js/";
- var title           = "Нюансы php";

- var lang     = "ru-RU";
//- для путей инклудов в файле My work.pug
- var path_work = "template/section/work/";

//- этот файл конфигурации создан для теста сайта в директории test
- var namesite   = "Holywar";

//- временные пути к стилям пока сайт в разработке
- var css     			= "css/style.min.css";

//- временные пути к библиотекам jquery пока сайт в разработке
- var  jquery_gulp   	= "gulp/node_modules/jquery/dist/jquery.min.js";


//- постоянные пути к библиотекам jquery  готового  сайта
//- var  jquery   		= "js/jquery.min.js";

//- временные пути к библиотекам bootstrap пока сайт в разработке
- var js_bundle_btsp 	= "gulp/node_modules/bootstrap/dist/js/bootstrap.min.js";
- var js_bootstrap   	= "gulp/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js";

//- cсылки для header.pug страницы Index
-
  var list_lnk_index = {
    Form :"src/html/form/form.php",
    Frameset :"src/html/frameset/frameset.php",
    Iframe :"src/html/iframe/iframe.php",
    Table :"src/html/table/table.php",
    Video: "src/html/video/video.php",
    Test :"src/html/test/test.php",
    Very: "src/html/very/very.php",
    Mobile: "src/html/mobile/mobile.php",
    BlockHeight: "src/html/blockheight/blockheight.php",
    PHPmyadmin: "http://www.localhost/phpmyadmin"};

//- cсылки для header.pug страницы Form
-
  var list_lnk_form = {
    'На главную' :"../../../index.php",
    Frameset :"../frameset/frameset.php",
    Iframe :"../iframe/iframe.php",
    Table :"../table/table.php",
    Video: "../video/video.php",
    Test :"../test/test.php",
    Mobile: "../mobile/mobile.php",
    BlockHeight: "../blockheight/blockheight.php",
    PHPmyadmin: "http://www.localhost/phpmyadmin"};

//- cсылки для header.pug страницы Frameset
-
  var list_lnk_frameset = {
    'На главную' :"../../../index.php",
    Form :"../../../form/form.php",
    Iframe :"../iframe/iframe/iframe.php",
    Table :"../table/table.php",
    Video: "../video/video.php",
    Test :"../test/test.php",
    Mobile: "../mobile/mobile.php",
    BlockHeight: "../blockheight/blockheight.php",
    PHPmyadmin: "http://www.localhost/phpmyadmin"};

//- cсылки для header.pug страницы Iframe
-
  var list_lnk_iframe = {
    'На главную' :"../../../index.php",
    Form :"../form/form.php",
    Frameset :"../frameset/frameset.php",
    Table :"../table/table.php",
    Video: "../video/video.php",
    Test :"../test/test.php",
    Mobile: "../mobile/mobile.php",
    BlockHeight: "../blockheight/blockheight.php",
    PHPmyadmin: "http://www.localhost/phpmyadmin",
    PHPmyadmin: "http://www.localhost/phpmyadmin"};

//- cсылки для header.pug страницы Table
-
  var list_lnk_table = {
    'На главную' :"../../../index.php",
    Form :"../form/form.php",
    Frameset :"../frameset/frameset.php",
    Iframe :"../iframe/iframe.php",
    Video: "../video/video.php",
    Test :"../test/test.php",
    Mobile: "../mobile/mobile.php",
    BlockHeight: "../blockheight/blockheight.php",
    PHPmyadmin: "http://www.localhost/phpmyadmin",
    PHPmyadmin: "http://www.localhost/phpmyadmin"};


//- cсылки для header.pug страницы Video
-
  var list_lnk_video = {
    'На главную' :"../../../index.php",
    Form :"../form/form.php",
    Iframe :"../iframe/iframe.php",
    Frameset :"../frameset/frameset.php",
    Table :"../table/table.php",
    Test :"../test/test.php",
    Mobile: "../mobile/mobile.php",
    BlockHeight: "../blockheight/blockheight.php",
    PHPmyadmin: "http://www.localhost/phpmyadmin"};

//- cсылки для header.pug страницы Test
-
  var list_lnk_test = {
    'На главную' :"../../../index.php",
    Form :"../form/form.php",
    Iframe :"../iframe/iframe.php",
    Frameset :"../frameset/frameset.php",
    Table :"../table/table.php",
    Video: "../video/video.php",
    Mobile: "../mobile/mobile.php",
    BlockHeight: "../blockheight/blockheight.php",
    PHPmyadmin: "http://www.localhost/phpmyadmin"};

//- cсылки для header.pug страницы Mobile
-
  var list_lnk_mobile = {
    'На главную' :"../../../index.php",
    Form :"../form/form.php",
    Iframe :"../iframe/iframe.php",
    Frameset :"../frameset/frameset.php",
    Table :"../table/table.php",
    Video: "../video/video.php",
    Test :"../test/test.php",
    BlockHeight: "../blockheight/blockheight.php",
    PHPmyadmin: "http://www.localhost/phpmyadmin"};

-
  var list_lnk_heightblock = {
    'На главную' :"../../../index.php",
    Form :"../form/form.php",
    Iframe :"../iframe/iframe.php",
    Frameset :"../frameset/frameset.php",
    Table :"../table/table.php",
    Video: "../video/video.php",
    Test :"../test/test.php",
    Mobile: "../mobile/mobile.php",
    PHPmyadmin: "http://www.localhost/phpmyadmin"};




- var fon = "#E0E0E0";
//- Библиотека jQuery
