.container
	.row.mx-0.flex-column.text-center
		h4
			| Key Features
		h1.display-1
			| Designing for Positive Future

	.row.mx-0.justify-content-between
		.col-12.col-sm-4
			.card-deck
				.card
					.card-body
						h4.card-title
							| Web Design
						p.card-text.text-muted
							| This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

		.col-12.col-sm-4
			.card-deck
				.card
					.card-body
						h4.card-title
							| Development
						p.card-text.text-muted
							| This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

		.col-12.col-sm-4
			.card-deck
				.card
					.card-body
						h4.card-title
							| Photography
						p.card-text.text-muted
							| This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

	.row.mx-0.justify-content-between
		.col-12.col-sm-4
			.card-deck
				.card
					.card-body
						h4.card-title
							| Branding
						p.card-text.text-muted
							| This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

		.col-12.col-sm-4
			.card-deck
				.card
					.card-body
						h4.card-title
							| Marketing
						p.card-text.text-muted
							| This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

		.col-12.col-sm-4
			.card-deck
				.card
					.card-body
						h4.card-title
							| Support
						p.card-text.text-muted
							| This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
