.container
	.row.flex-column.text-center
		h4
			| Key Features
		h1.display-1
			| Designing for Positive Future
	.row.justify-content-between
		.col-12.col-sm-4
			h4
				| Web Design
			p.text-muted
				| Suspendisse vulputate eros in velit fermentum cursus. Nulla fringilla justo tellus, at sodales eros laoreet a. Quisque facilisis lorem augue, sit amet

		.col-12.col-sm-4
			h4
				| Development
			p.text-muted
				| Suspendisse vulputate eros in velit fermentum cursus. Nulla fringilla justo tellus, at sodales eros laoreet a. Quisque facilisis lorem augue, sit amet

		.col-12.col-sm-4
			h4
				| Photography
			p.text-muted
				| Suspendisse vulputate eros in velit fermentum cursus. Nulla fringilla justo tellus, at sodales eros laoreet a. Quisque facilisis lorem augue, sit amet

	.row.justify-content-between.mt-2
		.col-12.col-sm-4
			h4
				| Branding
			p.text-muted
				| Suspendisse vulputate eros in velit fermentum cursus. Nulla fringilla justo tellus, at sodales eros laoreet a. Quisque facilisis lorem augue, sit amet

		.col-12.col-sm-4
			h4
				| Marketing
			p.text-muted
				| Suspendisse vulputate eros in velit fermentum cursus. Nulla fringilla justo tellus, at sodales eros laoreet a. Quisque facilisis lorem augue, sit amet

		.col-12.col-sm-4
			h4
				| Support
			p.text-muted
				| Suspendisse vulputate eros in velit fermentum cursus. Nulla fringilla justo tellus, at sodales eros laoreet a. Quisque facilisis lorem augue, sit amet
