extends  templates/main

block title
	title Portfolio

block content
	.container-fuild
		include header/header
	.container-fuild
		include home/home
	.container-fuild
		include skills/skills
	.container-fuild
		include timemenedg/timemenedg
