.container.py-2
  .row.mx-0
    .col-12.col-sm-6.timemenedg_foto

    .col-12.col-sm-6.timemenedg_notebook
      img(src="src/img/notebook.jpg").col-10.col-sm-6
      p
        h5.display-5
          | The 2 Secrets to Time Management
      br
      p
        h6.display-6
          | Phasellus scelerisque sed leo quis gravida. Fusce lobortis libero ut arcu blandit pharetra.
