.container
  .row.mx-0.h-100.align-items-center
    .col-12.col-sm-5.home_foto
    .col-12.col-sm-7.home_studio
      p.lead
        | Студия разработки
        br
        span Leading
      p.lead.text-left
        |Веб-студия “LEADING” - это команда программистов, дизайнеров, копирайтеров, специалистов по продвижению, менеджеров, которые занимаются веб-разработкой и созданием Телеграм-ботов в Вологде и по всей России. Уже не новость, что сайт - это не только рабочий инструмент, но и показатель статуса компании, его деловой костюм, если хотите. Поэтому наша миссия  помочь вашему бизнесу, а наша приоритетная задача по проекту - создать сайт, который украсит наше портфолио.
      button.btn.btn-secondary.btn-lg Оставить заявку

      p.lead.mb-0
        | Мы открыты для плодотворного сотрудничества!
