.container-fuild:nth-child(4)
  .container
    .timemenedg_foto
      height: 50vh
      background-image: url(../../src/img/dosug.jpg)
      background-size: 100% 100%
      background-repeat: no-repeat
    .timemenedg_notebook
      text-align: right
      color: black
