section.container
	.row.mx-0.flex-column.text-center.mb-3
		h4.display-4
			|	Our service
		p.lead
			|	Phasellus scelerisque sed leo quis gravida. Fusce lobortis libero ut arcu blandit pharetra.

	.row.justify-content-between.mb-2
		div
		div.mx-2
		div
	.row
		div.mr-1
		div.ml-1
