
@mixin card-bg($bg-color)
	display: flex
	justify-content: center
	align-items: center
	max-width: 90px
	max-height: 90px
	min-width: 90px
	min-height: 90px
	border-radius: 50%
	background: $bg-color
	padding: 0 0
