.container
  .row.mx-0.justify-content-around
    .address_office.col-12.col-sm-4
      .address_office_svg
        span
          include svgaddres
        p
          | 123 West Street, Newtown
    .number_phono.col-12.col-sm-4
      .number_phono_svg
        span
          include svgphone
        p
          | 8920-909-9815
    .email.col-12.col-sm-4
      .email_svg
        span
          include svgemail
        p
          | webmaster@gmail.com
