header.col-12
	ul
		list-style-type: none
header.col-12
	a[href$="html"]
		font-weight: 900
		font-style: normal
		font-variant: small-caps
		font-size: 2ex
		position: relative
		&::first-letter
				color: red
		&::after
				content: " "
				width: 10px
				height: 10px
				position: absolute
				top: 43%
				margin-left: 3px
				background: hsla(130,100%,50%,100%)

header.col-12
	a::selection
		color: red
		background-color: yellow
